PORT=3001
NODE_ENV=development
APP_NAME=RohiPOS API

DB_HOST=localhost
DB_PORT=5432
DB_NAME=rohipos
DB_USER=postgres
DB_PASSWORD=postgres
DB_SSL=false

JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=8h
